<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wontherads.mapper.AdminMapper">

    <select id="selectAdminById" resultType="AdminLoginInfoVO">
        SELECT admin_id, admin_pw, adm_email_id, adm_email_addr,
               last_login_at, create_ts, update_ts
          FROM ADM_LOGIN_INFO
         WHERE admin_id = #{adminId}
    </select>

    <update id="updateLastLoginAt">
        UPDATE ADM_LOGIN_INFO
           SET last_login_at = NOW()
         WHERE admin_id = #{adminId}
    </update>

</mapper>
